@import url('https://fonts.googleapis.com/css2?family=Langar&family=Megrim&display=swap');


body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Langar', cursive;
  background-color: #fafaf7;
}

nav{
  background-image: linear-gradient(to right, #662d91, #7DF9FF);
  color: white;
  width: 100%;
  position: absolute;
  top: 0; 
  height: 70px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 24px;
}

.add-events-popup{
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  background-color: #662d91;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  display: none;
  opacity: 0;
  transition: all .3s ease;
  color: white;
  text-align: center;
  z-index: 100;
}
.add-events-popup::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width:100%;
  height: 100%;
  background-image: linear-gradient(to right, #7DF9FF, #662d91);
  clip-path: polygon(0 0, 50% 0, 0 60%);
  z-index: -1;
  border-radius: 4px;
}
.add-events-popup::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width:100%;
  height: 100%;
  background-image: linear-gradient(to right, #662d91, #7DF9FF);
  clip-path: polygon(50% 100%, 100% 40%, 100% 100%);
  z-index: -1;
  border-radius: 4px;
}

.add-events-popup input{
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  box-shadow: 4px 8px 16px rgba(0,0,0,.2);
  text-align: center;
}
.add-events-popup label{
  font-weight: 700;
}
.add-events-popup input:focus{
  border:1.5px solid #343a40 ;
}
.close{
  position: absolute;
  right: 4%;
  top: 4%;
  cursor: pointer;
}

.add-events-popup.active{
  opacity: 1;
  display: flex;
}

#add-btn,
.btn{
  background-color: transparent;
  border: 1px solid #662d91;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all .3s ease;
  margin:1.5rem;
  font-size: 18px;
  font-family: 'Langar', cursive;
  box-shadow: 4px 8px 16px rgba(0,0,0,.5);

}
#add-btn:hover,
.btn:hover{
  background-image: linear-gradient(to right, #7DF9FF, #662d91);
  border:none;
  color: white;
}
.btn{
  text-decoration: none;
  color: #662d91;
  margin: 0;
}

#btn-submit{
  background-color: transparent;
  border:1px solid #fff;
  color:white;
  padding: 10px 25px;
  margin-top: 10px;
  font-weight: 700;
  border-radius: 5px;
  transition: all .4s;
  cursor: pointer;
  outline:none;
  font-family: 'Langar', cursive;
  box-shadow: 4px 8px 16px rgba(0,0,0,.5);
}

#btn-submit:hover{
  border-color: #662d91;
  background-image: linear-gradient(to right, #7DF9FF, #662d91);
  color: #343a40;
}

.events-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  top: 100px;
  margin-bottom: 90px;
}

.event-card{
  padding:50px;
  padding-bottom:25px ;
  width: 300px;
  max-width: 90%;
  background-color: #fcfcfc;
  box-shadow: 4px 8px 16px rgba(0,0,0,.2);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin: 20px;
}
.event-card::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #662d91, #7DF9FF);
  clip-path: polygon(40% 101%, 101% 40%, 102% 102%);  
}

.event-card > *{
  position: relative;
  z-index: 5;
  margin: 10px 0;
  font-size: 18px;
}
